:root[data-theme="light"] {
    --text: #070c12;
    --background: #f1f4f9;
    --primary: #5179b8;
    --secondary: #bd9dd7;
    --accent: #bb6ec4;
}

:root[data-theme="dark"] {
    --text: #edf2f8;
    --background: #06090e;
    --primary: #476eae;
    --secondary: #482862;
    --accent: #883b91;
}

html {
    background-color: var(--background);
    color: var(--text);
}