:root[data-theme="light"] {
    --text: #070c12;
    --background: #f1f4f9;
    --primary: #5179b8;
    --secondary: #bd9dd7;
    --accent: #bb6ec4;
}

:root[data-theme="dark"] {
    --text: #edf2f8;
    --background: #06090e;
    --primary: #476eae;
    --secondary: #482862;
    --accent: #883b91;
}

html {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Helvetica', sans-serif;
    scroll-padding-top: 50px;
}

.navbar ul {
    z-index: 1000; /* Ensures the navbar is on top of other elements */
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: var(--background);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar ul li {
    float: left;
    margin: 10px;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    color: var(--text);    
}

.navbar ul li a:hover {
    color: var(--primary);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.projects-grid article {
    /* border: 1px solid var(--primary); */
    display: flex; 
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.projects-grid article img {
    object-fit: cover;
    object-position: left;
    width: 25vw;
    height: 25vw;
}

.projects-grid article .project-module {
    padding: 30px 40px 40px;
}

.projects-grid article .project-title {
    font-size: 22px;
    font-weight: 700;
}

.projects-grid article .project-description {
    color:hsl(from var(--text) h calc(s - 40) calc(l + 30));
    font-size: 18px;
}

.projects-grid article .project-date {
    color:hsl(from var(--text) h calc(s - 40) calc(l + 30));
    font-size: 14px;
}